<!-- views/messageUI.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Message UI</title>
</head>
<body>
  <h1>Message Input</h1>
  <form action="/sendMessage" method="POST">
    <input type="text" name="message" placeholder="Your message" />
    <button type="submit">Send</button>
  </form>
</body>
</html>